---
export async function getStaticPaths() {
    return [
        { params: { paquete: "entrada" } },
        { params: { paquete: "plato_principal" } },
        { params: { paquete: "postre" } },
    ];
}

import entrada from "../../../public/images/EXCUSAS.jpg";
import platoPrincipal from "../../../public/images/CUANTO.jpg";
import postre from "../../../public/images/MANIFESTACION.jpg";
import Layout from "../../layouts/Layout.astro";
import { MdArrowOutward } from "react-icons/md";

const { paquete } = Astro.params;

const datos = {
    entrada: {
        src: entrada,
        titulo: "DEJÁ ATRÁS TUS EXCUSAS",
        top: "HACETE CARGO DE TU VIDA. DECIDÍ QUIEN QUERÉS SER REALMENTE.", 
        subtitulo: "!ELIMINA ESE GRAN CONEJO BLANCO!",
        descripcionTitulo: "ENTRADA",
        descripcion: "Lo primero que debemos reconocer es lo que nos está atascando. Para eso, debemos hacernos una gran pregunta: ~ ¿Cuál es nuestro gran conejo blanco? Ese que ocupa gran parte de nuestra mente y, aunque demos un pequeño salto, su cobardía nos deja flotando en el río de las excusas. ¿Cuál es? ¡YA ES HORA DE QUE LO RECONOZCAS! Una vez que lo sepamos, podremos dar ese doble salto hacia el jardín de la madurez. Ahí entenderás que todo es nuestra responsabilidad. Hacernos cargo de nuestra vida significa eliminar las emociones negativas, decidir quién queremos ser y poner nuestra fe únicamente en nosotros mismos para lograr nuestros propósitos. Las personas más felices son las que tienen control de sí mismas y son libres. NO TE DAS UNA IDEA DE LO BIEN QUE SE SIENTE."

    },
    plato_principal: {
        src: platoPrincipal,
        top: "",
        titulo: "¿SABES CUÁNTO REALMENTE VALES?",
        subtitulo: "AUTOESTIMA AUTO COMPRENSION DE UNO MISMO.",
        descripcionTitulo: "PLATO PRINCIPAL",
        descripcion: "loremp ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et luctus enim justo non leo. Nam ultricies nunc et lectus semper eleifend. Donec pharetra et nunc ac posuere. Sed sit amet lacus auctor, sagittis turpis ut, tincidunt nisl. Sed sit amet lacus auctor, sagittis turpis ut, tincidunt nisl. loremp ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et luctus enim justo non leo. Nam ultricies nunc et lectus semper eleifend. Donec pharetra et nunc ac posuere. Sed sit amet lacus auctor, sagittis turpis ut, tincidunt nisl. Sed sit amet lacus auctor, sagittis turpis ut, tincidunt nisl"
    },
    postre: {
        src: postre,
        top: "PROGRAMÁ TU NUEVO SER.",
        titulo: "LA MANIFESTACIÓN DE LO QUE DESEAMOS",
        subtitulo: "IMAGINACION CREATIVA",
        descripcionTitulo: "POSTRE",
        descripcion: "oremp ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit. loremp ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit. loremp ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit. loremp ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit. loremp ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit.loremp ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit."
    },
};

// Acceder al objeto con el nombre del paquete
const plato = datos[paquete]
---
<Layout>

    <section class={paquete}>
        <div class="platoImgContainer">
            <img src={plato.src.src} alt="">
            <div class="platoTitle">
                <span>{plato.top}</span>
                <h2>{plato.titulo}</h2>
            </div>
        </div>
        <div class="platoDescripcion">
            <h3 class="subtitulo">{plato.subtitulo}</h3>
            <div class="cuadroDescripcion">
                <h4>{plato.descripcionTitulo}</h4>
                {paquete === "entrada" && <span>La vida será lo que tú hagas de ella. – S.S.</span>}
            </div>
            
            <div class={"descripcion"}>
                <p>{plato.descripcion}</p>
            </div>
            <div class="buttons">
                <a href=>AGENDA UNA REUNION CONMIGO</a>
                <a href="" class="arrow"><MdArrowOutward/></a>
            </div>
            {
                paquete === "entrada" && (
                    <div class="canabis">
                        <h4>CANNABIS</h4>
                        <p>En estas charlas te hablo de ser consciente de la hierba que
                        estás consumiendo, sus beneficios y sus contras, cómo
                        consumirla dosificadamente o dejar de consumirla. Es un paso
                        hacia el conocimiento de los efectos que causa en nosotros y la
                        posibilidad de elegir en base a ello.</p>
                    </div>
                )
            }
        </div>
        
    </section>
</Layout>

<style>
    
    .platoImgContainer{
        position: relative;
        width: 100%;
        height: 80vh;
    }
    .platoImgContainer img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .platoTitle{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, #161616);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        
        align-items: center;
        color: white;
    }
    .platoTitle span{
        margin: 0px;
        margin-bottom: 30px;
        font-family: 'TightEB', sans-serif;
        font-size: 1.5rem;
    }
    .entrada .platoTitle h2{
        width: 70%;
        margin: 0px;
        font-family: 'TightBlack', sans-serif;
        font-weight: 900;
        font-size: 5rem;
        text-align: center;
    }
    .platoTitle h2{
        width: 55%;
        margin: 0px;
        font-family: 'TightBlack', sans-serif;
        font-weight: 900;
        font-size: 5rem;
        text-align: center;
}
    
    .platoDescripcion{
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .platoDescripcion .subtitulo{
        margin-top: 50px;
        margin-bottom: 70px;
        color: rgb(255, 255, 255);
        font-family: 'TightR', sans-serif;
        font-weight: 400;
    }
    .cuadroDescripcion{
        color: white;
        width: 50%;
        border: 2px solid white;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        padding-left: 20px;
        padding-bottom: 20px;
        box-sizing: border-box;

    }
    .cuadroDescripcion span{
        font-family: 'TightR', sans-serif;
        font-size: 1.1rem;
        font-weight: 100;
        font-style: italic;
    }
    .cuadroDescripcion h4{
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 5px;
        font-family: 'TightEB', sans-serif;
    }
    .descripcion{
        width: 50%;  /* Ancho total del contenedor */
        height: fit-content; 
        overflow: hidden;  /* El contenido que exceda el height no se muestra */
        border: 2px solid #ccc;
        border-top: none;
        color: white;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        padding: 20px;
        box-sizing: border-box;
    }
    .entrada .descripcion p{
        column-count: 3;
        margin: 0px;
        font-family: 'TightR', sans-serif;
    }
    .plato_principal .descripcion p{
        column-count: 3;
        margin: 0px;
        font-family: 'TightR', sans-serif;
    }
    .postre .descripcion p{
        column-count: 2;
        margin: 0px;
        font-family: 'TightR', sans-serif;
    }
    
    .buttons{
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0px;
        padding-top: 10px;
    }
    .buttons a{
        padding: 6px 14px;
        background-color: red;
        border-radius: 20px;
        color: white;
        text-decoration: none;
        font-family: 'TightEB', sans-serif;
        font-weight: 800;
        font-size: 0.8rem;
    }
    .buttons .arrow{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        border-radius: 100%;
        height: 20px;
        width: 20px;
        
    }
    
.entrada .canabis{
    margin-top: 30px;
    width: 30%;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid red;
}
.entrada .canabis h4{
    border-bottom: 2px solid red;
    padding-bottom: 20px;
    padding-left: 20px;
    font-family: 'TightEB', sans-serif;
}
.entrada .canabis p{
    width: 85%;
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: 'TightR', sans-serif;
}

@media screen and (max-width: 1024px){
    .platoImgContainer{

        height: 50vh;
    }
    .platoTitle span{
        margin: 0px;
        margin-bottom: 30px;
        font-family: 'TightEB', sans-serif;
        font-size: 1rem;
        text-align: center;
        width: 80%;
    }
    .cuadroDescripcion{
        width: 80%;
    }
    .descripcion{
        width: 80%;
    }
    .entrada .canabis{
        width: 70%;
    }
    .entrada .platoTitle h2{
        font-size: 2.8rem;
        width: 90%;
    }
    .entrada .subtitulo{
        font-size: 0.8rem;
    }
    .plato_principal .platoTitle h2{
        font-size: 2.8rem;
        width: 90%;
    }
    .plato_principal .subtitulo{
        font-size: 0.8rem;
    }
    .postre .platoTitle h2{
        font-size: 2.8rem;
        width: 90%;
    }
    .postre .subtitulo{
        font-size: 0.8rem;
    }
}
@media  screen and (max-width: 768px){
    .postre .platoTitle h2{
        font-size: 2rem;
        width: 95%;
    }
    .entrada .descripcion p{
        column-count: 1;
    }
    .plato_principal .descripcion p{
        column-count: 1;
    }
    .postre .descripcion p{
        column-count: 1;
    }
}
</style>